/*--------------------------------------------------------------

-# Base

---------------------------------------------------------------*/

html{
	position: relative;
	min-height: 100%;
	font-size: 16px;
	line-height: 21px;
}

body{
	font-family: 'Montserrat', sans-serif;
}

p{
	color: #000;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 24px;
}

h1{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 24px;
}

h2{
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 24px;
}

h3{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 24px;
}

h4{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24x;
}

@include media-breakpoint-up(md) {

	p{
		color: #000;
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 28px;
	}

	h1{
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 28px;
	}
	
	h2{
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 28px;
	}
	
	h3{
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 28px;
	}
	
	h4{
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 28px;
	}

}

ul{
	padding-left:15px;
	line-height: 28px;
	margin-bottom: 28px;
}

/* menu */

.logo-holder{
	max-width: 200px;
	a{
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-light{

	background-color: #232627!important;

	.navbar-nav{
		.nav-item{
			.nav-link{
				color: rgba(255, 255, 255, 1.0);
				font-weight: 600;
				font-size: 14px;
				padding-right: 15px;
				padding-left: 15px;
				transition: 0.3s ease all;
	
				&:hover{
					color: #3E89C5;
					transition: 0.3s ease all;
				}
			}

			&.active{
				.nav-link{
					color: #3E89C5;
					transition: 0.3s ease all;
				}
			}
		}
	}
}

/* breadcrumbs */

.breadcrumbs{

	margin-top: 25px;
	margin-bottom: 50px;

	a{
		font-size: 12px;
		color: #3E89C5;
	}

	.delimeter{
		display: inline-block;
		margin: 0px 10px;
		width: 10px;
		height: 10px;
		background-color:#3E89C5;
		mask: url('/wp-content/themes/kedacom/images/arrow_right_filled.svg');
		mask-size: contain;
		mask-position: 50%;
		mask-repeat:no-repeat;
	}
}

/* headerslider */

.slider-holder{
	position: relative;

	.container{
		position: relative;
	}

	#header-slider-btn-left,
	#header-slider-btn-right{
		bottom: -400px;
	}

	#product-slider-btn-left,
	#product-slider-btn-right{
		bottom: 40%;
	}

	.slider-button{
		text-align: center;
		height: 40px;
		width: 40px;
		position: absolute;
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
		z-index: 99;
		cursor: pointer;

		svg{
			max-width:100%;
			max-height: 40px;

			.cls-1 {
				fill: #707070;
				fill-rule: evenodd;
				transition: 0.3s ease all;

				&:hover{
					fill: #e60012;
					transition: 0.3s ease all;
				}
			}
		}

		&.btn-left{
			left:0;
			margin-left: 10px;
			transition: 0.3s ease all;

			&:hover{
				margin-left: 5px;
				transition: 0.3s ease all;
			}
		}
		&.btn-right{
			right: 0;
			margin-right: 10px;
			transition: 0.3s ease all;

			&:hover{
				margin-right: 5px;
				transition: 0.3s ease all;
			}
		}

		@include media-breakpoint-up(md) {
			&.btn-left{
				margin-left: -60px;
	
				&:hover{
					margin-left: -65px;
				}
			}
			&.btn-right{
				margin-right: -60px;
	
				&:hover{
					margin-right: -65px;
				}
			}
		}
	}

	.header-slider{

		background-color: #1D2123;
		background-image:url('/wp-content/themes/kedacom/images/headerslider_bg.svg');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: contain;

		&.home{
			.header-slide{
				p{
					color: #fff;
				}
			}
		}

		.header-slide{
			position: relative;
			min-height: 350px;

			@include media-breakpoint-up(md) {
				min-height: 500px;
			}

			.full-width{
				position: absolute;
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;
				top: 0;
			}

			.text-holder{
				position: relative;
				padding: 50px 50px;

				h1,h2,h3{
					color: #3E89C5;
					font-weight: 700;
				}

				p,ul{
					color: #fff;
				}
			}

			/*.header-slide-image{
				position: relative;
				background-size: cover;
				background-position: 50%;
				margin-left:-15px;

				.overlay{
					padding-top: 100%;
				}
			}*/

			.header-slide-image{
				background-size: contain;
				background-position: 50%;
				padding-top: 100%;
				background-repeat: no-repeat;
			}

			@include media-breakpoint-up(md) {
				.text-holder{
					padding: 100px 0px;
				}

				.header-slide-image{
					background-size: contain;
					background-position: 50%;
					padding-top: 100%;
					background-repeat: no-repeat;
				}

				/*.header-slide-image{
					background-size: cover;
					background-position: 50%;
					mask:url('/wp-content/themes/kedacom/images/header_mask.svg');
					mask-size: cover;
					mask-position: left top;
					mask-repeat: no-repeat;
					padding-top: 100%;
					margin: 100px 0;
				}*/
			}
		}
	}
}

/* content */

.graph{
	position: absolute;
	opacity: 0.15;
}

.section{
	position: relative;
	overflow: hidden;
	padding: 25px 0;

	.container{
		position: relative;
		z-index: 1;
	}

	@include media-breakpoint-up(md) {
		padding-bottom: 25px;
		padding-top: 25px;
	}

	.section-title{
		text-align: center;
	}

	.usps{
		font-size: 18px;
		line-height: 28px;
		margin-left: 2em;

		li{
			margin-bottom: 15px;
			text-transform: uppercase;

			.fa-li{
				text-align: left;
			}
		}
	}

	.gallery-image{
		display: block;
		padding-top: 70%;
		background-size: cover;
		background-position: 50%;
		margin-bottom: 30px;
		border-radius: 20px;
	}
	
	&.homedark{
		background-color: #1D2123;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			display: none;
		}

		p,ul{
			color: #fff;
		}
	}

	&.homemetal{

		background-color: #fff;
		background-image:url('/wp-content/themes/kedacom/images/section_bg.svg');
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			opacity: 1;
			display: block;
			height: 100%;
			width: 100%;
			mask:url('/wp-content/themes/kedacom/images/traingle_top.svg');
			mask-size: cover;
			mask-position: 50%;
			mask-repeat: no-repeat;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7c99a8+0,e8f5ff+50,7c99a8+100 */
			background: #7c99a8; /* Old browsers */
			background: -moz-linear-gradient(left,  #7c99a8 0%, #e8f5ff 50%, #7c99a8 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #7c99a8 0%,#e8f5ff 50%,#7c99a8 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #7c99a8 0%,#e8f5ff 50%,#7c99a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c99a8', endColorstr='#7c99a8',GradientType=1 ); /* IE6-9 */
			top: 0;
			left: 0;

			svg{
				display:none;
			}
		}

		.usps{
			li{
				.fa-li{
					color:#3E89C5;
				}
			}
		}
	}

	&.homegrey{

		background-color: #fff;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			opacity: 1;
			display: block;
			height: 100%;
			width: 100%;
			mask:url('/wp-content/themes/kedacom/images/traingle_bottom.svg');
			mask-size: cover;
			mask-position: 50%;
			mask-repeat: no-repeat;
			background-color: #EAEAEA;
			top: 0;
			left: 0;

			svg{
				display:none;
			}
		}

		.usps{
			li{
				.fa-li{
					color:#3E89C5;
				}
			}
		}

	}

	&.white{
		background-color: #fff;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			display: none;
			opacity: 0.5;
		}

		.usps{
			li{
				.fa-li{
					color:#3E89C5;
				}
			}
		}
	}

	&.grey{
		background-color: #F5F5F5;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			left: 0;
			top:-100px;
			opacity: 0.5;

			.sec-graph {
				stroke:#3E89C5;
			}
		}

		.usps{
			li{
				.fa-li{
					color:#3E89C5;
				}
			}
		}
	}

	&.bg{
		background-size: cover;
		background-position: 50%;

		.whitebox{
			background-color: rgba(255,255,255,0.7);
			padding: 15px;
			border-radius: 10px;

			@include media-breakpoint-up(md) {
				padding: 30px;
			}
		}
	}

	&.blue{
		background-color: #E1EDF6;

		h1,h2,h3,h4{
			color: #3E89C5;
		}

		.graph{
			right: 0;
			top: -100px;
			opacity: 0.5;

			.sec-graph {
				stroke: #3E89C5;
			}
		}

		.usps{
			li{
				.fa-li{
					color:#3E89C5;
				}
			}
		}
	}

	&.small-padding{
		padding: 50px 0!important;
	}

	/* images */

	.content-image{
		max-width: 100%;
		height: auto;
		margin-bottom: 30px;
	}

	.image{
		margin-bottom: 30px;
		padding-top: 100%;

		&.arrow{
			mask: url('/wp-content/themes/kedacom/images/circle.svg');
			mask-size: contain;
			mask-position: 50%;
			mask-repeat:no-repeat;
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
		}
	}

	.page-item{
		position: relative;
		display: block;
		background-size: cover;
		background-position: 50%;
		border-radius: 0px;
		overflow: hidden;
		margin-bottom: 30px;
		padding-top: 70%;

		.overlay{
			position: absolute;
			top: 0;
			background-color: rgba(0,0,0,0.15);
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: 50%;

			background-image:url('/wp-content/themes/kedacom/images/inner_bg.svg');
			background-size: contain;
			background-position: 50% 200%;
			background-repeat: no-repeat;
			transition: 0.3s ease all;

			h3{
				color: #fff;
				text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
				font-size: 20px;
				font-weight: 700;
				line-height: 30px;
				text-transform: uppercase;
				transition: 0.3s ease all;
				margin: 0;
			}

			&:hover{

				background-image:url('/wp-content/themes/kedacom/images/inner_bg.svg');
				background-size: contain;
				background-position: 50% 100%;
				background-repeat: no-repeat;
				transition: 0.3s ease all;
			}
		}
		&:hover{
			text-decoration: none;
		}
	}

	.product-item{

		display: block;
		background-color: #fff;
		position: relative;
		margin-bottom: 30px;

		&:hover{
			text-decoration: none;
		}

		&:after{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			border: 1px solid #838383;
			top: 0;
			left: 0;
			margin-top: 10px;
			margin-left: 10px;
			z-index: -1;
		}

		.inner{
			position: relative;
			padding: 30px;

			.product-item-image{
				padding-top: 70%;
				background-size: 70%;
				background-position: 50%;
				background-repeat: no-repeat;
				margin-bottom: 15px;
				transition: 0.3s ease all;
			}

			h4{
				color: #3F8AC6;
				font-size: 14px;
				line-height: 20px;
				font-weight: 600;
				text-align: center;
				transition: 0.3s ease all;
			}

			&:hover{

				.product-item-image{
					background-size: 80%;
					transition: 0.3s ease all;
				}

				h4{
					color: #65a1d1;
					transition: 0.3s ease all;
				}
			}
		}
	}

	.partner-item{
		position: relative;
		display: block;
		background-color: #fff;
		margin-bottom: 30px;
		transition: 0.3s ease all;

		&:after{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			border: 1px solid #838383;
			top: 0;
			left: 0;
			margin-top: 10px;
			margin-left: 10px;
			z-index: -1;
		}

		.logo{
			max-width: 100%;
			height: auto;
		}

		svg{
			color: #3E89C5;
		}

		.inner{
			overflow: hidden;
			position: relative;
			display: block;
			padding: 30px;
		}

		.graph2{
			position: absolute;
			top: -10%;
			right: -10%;
			width: 80%;
			height: 80%;
			opacity: 0;
			z-index: 0;
			transform: rotate(0deg);
			transition: 0.3s ease all;

			svg{
				fill: #3E89C5;
				width: 100%;
				height: auto;
			}
		}

		&:hover{
			text-decoration: none;
			transition: 0.3s ease all;
			.graph2{
				opacity: 0.5;
				transition: 0.3s ease all;
			}

			h3,p{
				text-decoration: none;
			}
		}
	}

	.filter{
		padding:15px;
		background-color: #fff;
		margin-bottom: 30px;

		@include media-breakpoint-up(md) {
			padding:30px;
		}

		.filter-expander{
			display: block;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}

		.filter-sections{

			position: relative;
			overflow: hidden;
			display: none;
			padding-top: 15px;

			@include media-breakpoint-up(md) {
				display: block;
			}

			&.expanded{
				display: block;
			}
		}

		.filter-section{
			margin-bottom: 15px;
		}

		h4{
			font-size: 18px;
			font-weight: 600;
			margin-bottom:5px;
		}

		label{
			font-size: 0.8rem;
		}
	}

	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%;
		margin-bottom: 30px;
		border-radius: 20px;

		iframe,object,embed{
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%;
		}
	}

	&.home-verkoop{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		padding: 0;
		padding-top: 150px;

		.inner{
			background-image:url('/wp-content/themes/kedacom/images/inner_bg.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 0%;
			padding: 100px 0;
			text-align: center;
			
			h1,h2,h3,h4,h5,p{
				color: #fff;
			}

		}
	}
}

/* news */

.news-item{
	position: relative;
	background-color: #fff;
	margin-bottom: 30px;

	.image{
		padding-top: 100%;
		background-size: cover;
		background-position: 50%;
		margin-bottom: 0;
	}

	.text-holder{
		padding: 15px;
	}

	&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		border: 1px solid #838383;
		top: 0;
		left: 0;
		margin-top: 10px;
		margin-left: 10px;
		z-index: -1;
	}
}

/* product-spotlight */

.product-slider-holder{

	margin: 0px -15px;
	padding: 25px 0;

	.product-slider{

		padding: 0px 50px;
		position: relative;

		@include media-breakpoint-up(md) {
			padding: 0px 0px;
		}

		.product-slide{

			display: block;
			background-color: #fff;
			margin: 15px;
			position: relative;

			&:hover{
				text-decoration: none;
			}

			&:after{
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				border: 1px solid #838383;
				top: 0;
				left: 0;
				margin-top: 10px;
				margin-left: 10px;
				z-index: -1;
			}

			.inner{
				position: relative;
				padding: 30px;

				.product-slide-image{
					padding-top: 70%;
					background-size: 70%;
					background-position: 50%;
					background-repeat: no-repeat;
					margin-bottom: 15px;
					transition: 0.3s ease all;
				}

				h4{
					color: #3F8AC6;
					font-size: 14px;
					line-height: 20px;
					font-weight: 600;
					text-align: center;
					transition: 0.3s ease all;
				}

				&:hover{

					.product-slide-image{
						background-size: 80%;
						transition: 0.3s ease all;
					}

					h4{
						color: #65a1d1;
						transition: 0.3s ease all;
					}
				}
			}
		}
	}
}

/* product */

.header-product{

	background-color: #1D2123;
	padding-bottom: 50px;

	.breadcrumbs{
		margin-bottom: 50px;
	}

	.graph{
		left: 0;
		top: 0;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.section-tabs{
	background-color: #fff;
	padding-top: 30px;

	@include media-breakpoint-up(md) {
		border-bottom: 4px solid #3F8AC6;
	}

	.tab-btn{
		position: relative;
		font-size: 20px;
		line-height: 28px;
		padding: 15px 15px;
		color: #7F7F7F;
		display: block;
		cursor: pointer;
		border-bottom: 4px solid #3F8AC6;

		&.right{
			float:right;
			border-bottom: none;
		}

		span{
			position: absolute;
			right: 50%;
			margin-right: -10px;
			bottom: 0;
			width: 20px;
			height: 20px;
			opacity: 0;
			transition: 0.3s ease all;
			margin-bottom: 3px;

			svg{
				max-width: 20px;
				height: auto;
				transform: rotate(90deg);

				.purple-arrow {
					fill: #3E89C5;
					fill-rule: evenodd;
				}
			}
		}

		&.active,
		&:hover{
			span{
				opacity: 1;
				transition: 0.3s ease all;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.tab-btn{
			display: inline-block;
			padding: 25px 15px;
			border-bottom: none;
		}

		&.right{
			float:none;
		}

	}
}

.table{
	color: #000;
	font-size: 14px;
	line-height: 28px;

	.thead-title,
	.thead-title-idle{
		position: relative;
		border-bottom: 4px solid #5B57A6;
		font-weight: 700;
		font-size: 14px;
		color: #3E89C5;
		padding: .75rem;
		z-index: 2;
	}

	.td-value{
		text-align: center;
	}

	.icon-green{
		color: #00A651;
		font-size: 14px;
	}
	
	.icon-red{
		color: #e60012;
		font-size: 14px;
	}
	
	.icon-grey{
		color: #7e7e7e;
		font-size: 14px;
	}
}

/* forms */

.wpcf7-response-output:empty {
	display: none;
}
.wpcf7-response-output.alert {
	border-radius: 5px;
	background-color: #d4edda; /* or aliceblue if you prefer a blue success alert */
	border: 1px solid #c3e6cb;
	color: #155724;
}
.wpcf7-form.invalid .wpcf7-response-output.alert {
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	color: #856404;
}
.wpcf7-form.invalid div.form-group.has-error input,
.wpcf7-form.invalid div.form-group.has-error textarea {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;

}
form.wpcf7-form .form-group span.help-block.wpcf7-not-valid-tip {
	color: #721c24;
	font-size: 1rem; /* adjust if you need to */
	font-style: italic; /* just my preference */
}

/* footer */

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
	overflow: hidden;

	.graph{
		left: 0;
		top: 0px;
		opacity: 1;
		transform: rotate(0deg);


		.sec-graph {
			stroke: #CCCACA;
		}
	}

	img{
		max-width: 200px;
		height: auto;
		margin-bottom: 30px;
	}

	h2{
		color: #fff;
		font-weight: 700;
		font-size: 14px;
	}

	ul{
		list-style: none;
		padding-left: 0px;
		li{
			a{
				color: #CCCACA;
			}
		}
	}

	.footer-top{

		padding-top: 100px;

	}

	.footer-section{
		margin-bottom: 100px;
	}

	.footer-bottom{
		min-height: 50px;
		text-align: right;

		.holder{
			border-top: 2px solid #3e89c5;
		}
		
		p{
			color: #fff;
			padding-top: 10px;
			padding-bottom: 10px;
			margin: 0;
		}
	}
}

/**** Large screens ****/

@media (min-width: 1600px){

	.container{
		max-width: 1320px;
	}
}