/** ACF Enhanced View **/

#edittag {
    max-width: 90%!important;
}

.ui-sortable-handle{
	background-color: #3E89C5;
	color: #fff!important;
	font-weight: bold;
}

.acf-postbox > .hndle .acf-hndle-cog {
    color: #fff!important;
    font-size: 20px!important;
}

.toggle-indicator {
    color: #fff!important;
}

.wpmlhelp a, 
.wpmlhelp a:hover, 
.wpmlhelp a:active {
    color: #fff!important;
}

.acf-flexible-content .layout .acf-fc-layout-order{
	background-color: transparent;
	color: #FFF;
	border: 1px solid #FFF;
}

a.acf-icon{
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	background: #fff!important;
    color: #000!important;
}

a.acf-icon:hover {
    border-color: transparent;
    background: #000!important;
    color: #fff!important;
}

a.acf-icon.-plus:hover {
    background-color: #4CAF50!important;
}

a.acf-icon.-minus:hover, 
a.acf-icon.-cancel:hover {
    background-color: #DD2C00!important;
}

.acf-fields > .acf-field-group{
	/* background-color: #BDBDBD; */
	padding: 0;
}

.acf-field-group .acf-fields.-border { border:none; }
.acf-field-group .acf-label{
	font-size: 16px!important;
	color: #fff!important;
}

.acf-field-group * .acf-label{
	font-size: 13px!important;
	color: #444!important;
}

.acf-field-flexible-content .layout .acf-fc-layout-handle{
	background-color: #3E89C5;
	color: #fff!important;
	font-weight: bold;
}
.acf-field-flexible-content .acf-field-flexible-content .layout .acf-fc-layout-handle{ background-color:#75c0e8; }

.acf-flexible-content .no-value-message {
    padding: 19px;
    border: #C8E6C9 dashed 2px!important;
    background: #E8F5E9!important;
    text-align: center;
    display: none;
}

.acf-flexible-content .layout,
.acf-flexible-content .layout .layout{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.acf-field-flexible-content,
.acf-flexible-content .acf-field-group .acf-field-flexible-content{
	/* background-color: #E0E0E0; */
	/* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); */
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	/* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); */
}

.acf-flexible-content .acf-button{
	background: #2E7D32!important;
	border-color: #2E7D32!important;
	box-shadow: 0 1px 0 #388E3C!important;
	text-shadow: 1px 0 1px #388E3C!important;
	color: #fff!important;
	font-weight: bold!important; 
	font-size: 14px!important;
	line-height: 14px!important;
	height: auto!important;
	padding: 10px!important;
	margin-top: 10px!important;
	border-radius: 5px!important;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
}

.acf-flexible-content .acf-button:hover{
	background: #388E3C!important;
	border-color: #388E3C!important;
}

.acf-flexible-content .acf-flexible-content .acf-button{
	background: #43A047!important;
	border-color: #43A047!important;
	box-shadow: 0 1px 0 #4CAF50!important;
	text-shadow: 1px 0 1px #4CAF50!important;
	color: #fff!important;
	font-weight: bold!important; 
	font-size: 14px!important;
	line-height: 14px!important;
	height: auto!important;
	padding: 10px!important;
	margin-top: 10px!important;
	border-radius: 5px!important;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2)!important;
}

.acf-flexible-content .acf-flexible-content .acf-button:hover{
	background: #4CAF50!important;
	border-color: #4CAF50!important;
}