.btn{
    display: inline-block;
    font-weight: 800;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 30px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 0px;
    transition: 0.3s ease all;
    margin-right: 15px;
    margin-bottom: 15px;

    &.btn-primary {
        color: #fff;
        background-color: #3E89C5;
        border-color: #3E89C5;

        &:hover{
            background-color: #65a1d1;
            border-color: #65a1d1;
        }
    }

    &.btn-primary-alt {
        color: #3E89C5;
        background-color:transparent;
        border-color: #3E89C5;

        &:hover{
            color: #fff;
            background-color: #65a1d1;
            border-color: #65a1d1;
        }
    }
}
