/*--------------------------------------------------------------

-# Footer

---------------------------------------------------------------*/

footer{
	min-height: 300px;
	background-color: #1A1F21;
}